<h2><%= @user.username %></h2>

<% if @user.beer_clubs.any? %>
  <p>member of</p>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li><%= link_to club.name, club %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.ratings.empty? %>
  <p>No ratings yet!</p>
<% else %>
  <p>Has made <%= @user.ratings.count %> ratings, average rating <%= round(@user.average_rating) %> </p>
  <p>Favourite beer style: <%= @user.favorite_style.name %></p>
  <p>Favourite brewery: <%= @user.favorite_brewery %></p>

  <h3>ratings</h3>

  <ul class="list-group list-group-flush">
    <% @user.ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= edit_and_destroy_buttons(@user) %>
