<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @places %>
  <% if @weather.present? %>
    <p><strong>Current beer weather in <%= params[:city].capitalize %></strong></p>
    <p><%= @weather['current']['temp_c'] %> celsius</p>
    <img src="<%= @weather['current']['condition']['icon'] %>" alt="<%= @weather['current']['condition']['text'] %>">
    <p><strong>Wind </strong><%= (@weather['current']['wind_kph'] * 0.277778).round(1) %> m/sec, direction <%= @weather['current']['wind_dir'] %></p>
    <br>
  <% end %>
  <p><strong>Places to get your beer:</strong></p>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :id %>
            <% Rails.cache.write("id", place.send(field)) %>
            <td><%= place.send(field) %></td>
          <% elsif field == :name %>
            <td><%= link_to place.send(field), place_path(Rails.cache.read("id")) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
